:root {
    --white-color: #fff;
    --black-color:#000;
    --text-color: #333;
    --black-blue-color: #1C1C39;
    --pink-color: #ffdde1;
    --blue-color: #2638ce;
    --black-blue-hover-color: #1e1e7c;
    --ocean-color: #00b3ff;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /* 16px */
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



