
@import url('./header_search.css');

/* header */
.header {
    background-image: linear-gradient(90deg, #B7C6F4, #EADBFF);
    box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.422);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-size: 1.6rem;
    z-index: 20;
    width: 100%; height: 50px;
}

.header-body {
    display: grid;
    grid-template-columns: 2fr 0.8fr 7.2fr 0.8fr 2fr;
    gap: 10px;
    align-items: center;
    height: inherit;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
}

.header__logo--strong-text {
    font-size: 1.8rem;
    font-weight: bold;
}

.header__logo-img {
    height: 28px;
}

.header__home {
    font-size: 2.3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__home:hover{
    color: rgb(1, 107, 255);
}

.header__cart {
    cursor: pointer;
    font-size: 2.5rem;
    color: var(--black-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__cart:hover {
    color: rgb(1, 107, 255);
}

.header__logging {
    display: grid;
    grid-template-columns: 9fr 2fr 9fr;
    gap: 5px;
    font-size: 1.8rem;
    align-items: center;
}

.header__logging--log-in, .header__logging--sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.header__logging--separation {
    display: block;
    width: 1px;
    height: 1.8rem;
    background-color: rgba(0, 0, 0, 0.342);
    margin-left: 8px;
}